/ExcelPeliculas/nbproject/private/
/ExcelPelicula/build/
/Edificios/build/
/ProyectoViajesDAMW/nbproject/private/
/PropiedadesIdiomas/build/
/PropiedadesIdiomas/nbproject/private/
/ProyectoViajesDAMW/build/
/ProyectoViajesDAMW/dist/
/Menu_BBDD/nbproject/private/
/Menu_BBDD/build/
/ManejoDeBBDD/dist/
/Menu_BBDD/dist/
